<div ng-controller="silverSavingCont">

    <form ng-submit="formdata()">

        <div class="form-row mb-4 ">
            <hr style="height: 1px; border: thin; background-color: #80C37D;  margin-bottom: 10px; width: 100%;">
            <label style="text-align: left; font-size: 18px;" for="applicantName" class="form-label"> APPLICANT </label>
        </div>

        <div class="form-row mb-3 ">

            <div class="col" >
                <label for="accountType" class="form-label">Account Type :</label>
                <input type="text" class="form-input selectedOpt"  ng-model="selectedAccOption"  readonly="">
            </div>


            <div class="col">
                <label for="branchName" class="form-label">Branch Name :</label>
                <select id="branchName" name="branchName" class="form-input ml-3" ng-model="branchName" required="">
                    <option value="" disabled selected  ><i class="center-align" style="color: #999;" >Select Branch Name</option>
                        <option ng-repeat="option in branchlist" value="{{option}}">{{option}}</option>
                </select>
            </div>
        </div>



        <div class="form-row mb-3 mr-md-auto  justify-content-center ">
            <div class="col-sm-2 pt-1 ">
                <label for="id" class="form-label ">Applicant :</label>
            </div>

            <div class="col-10">    
                <input type="text" pattern="^[A-Za-z]+(?: [A-Za-z]+)*$ {0,25}" id="applicant1" name="applicant" class="form-control "  placeholder="Applicant" ng-model="applicant" required="">
            </div>

        </div>



        <div class="form-row mb-3 ">

            <div class="col-6">
                <label for="mobileNo" class="form-label">Mobile Number :</label>
                <input type="tel"  title="Mobile Number must be 10 length."  pattern="[0-9]{10}" id="mobileNo" name="mobileNo" class="form-input ml-1" ng-model="mobileNo" required="">
            </div>

            <div class="col-6"  >
                <label for="aadharNo" class="form-label">Aadhar Number :</label>
                <input type="tel"  title="Aadhar Number must be 12 length."  pattern="[0-9]{12}" id="adharNo" name="adharNo" class="form-input" ng-model="adharNo"  placeholder="Aadhar" required="">
                <img id="info-icon_A" class="imgsync" ng-click="aadharcheck(adharNo)" src="image/sync.png" alt=""/>
            </div>


        </div>


        <div class="form-row mb-3">
            <hr style="height: 1px; border: thin; background-color: #80C37D;  margin-bottom: 10px; width: 100%;">
            <label style="text-align: center; font-size: 18px;" for="applicantName" class="form-label"> DOCUMENTS </label>
        </div>


        <div class="form-row mb-3 justify-content-center" >
            <div class="row ">

                <div class="col-3 vertical_line wrap-doc-content" ng-mouseleave="hidePopup()">
                    <label ng-mouseenter="showPopup('idProof', 'Id proof', $event)" class="form-label form-label-docs mb-3">ID proof</label>
                    <div class="popupDoc" ng-show="isHovered && activePopup === 'idProof'" ng-style="popupStyle">
                        <h4>{{popupHeading}}</h4>
                        <ul>
                            <ol>
                                <li ng-repeat="doc in documents">{{ doc}}</li>
                            </ol>
                        </ul>
                    </div>
                    <input class="choose-input" type="file" id="IdProof" multiple ng-files="uploadFilesSave($files, 'idProof')" name="idProof" accept=".jpg, .jpeg, .png, .webp" onchange="checkFiles(2, 1024, this)" required="">
                </div>

                <div class="col-3 vertical_line wrap-doc-content" ng-mouseleave="hidePopup()">
                    <label ng-mouseenter="showPopup('addressProof', 'Address Proof', $event)" class="form-label form-label-docs mb-3">Address proof </label>
                    <div class="popupDoc" ng-show="isHovered && activePopup === 'addressProof'" ng-style="popupStyle">
                        <h4>{{popupHeading}}</h4>
                        <ul>
                            <ol>
                                <li ng-repeat="doc in documents">{{ doc}}</li>
                            </ol>
                        </ul>
                    </div>
                    <input class="choose-input" type="file" id="addressProof" multiple="" ng-files="uploadFilesSave($files, 'addressProof')" name="addressProof" accept=".jpg, .jpeg, .png, .webp" onchange="checkFiles(2, 1024, this)" required="">
                </div>

                <div class="col-3 vertical_line wrap-doc-content" ng-mouseleave="hidePopup()">
                    <label ng-mouseenter="showPopup('pan', 'Pan', $event)" class="form-label form-label-docs mb-3">PAN Card / Form-60/61</label>
                    <div class="popupDoc" ng-show="isHovered && activePopup === 'pan'" ng-style="popupStyle">
                        <h4>{{popupHeading}}</h4>
                        <ul>
                            <ol>
                                <li ng-repeat="doc in documents">{{ doc}}</li>
                            </ol>
                        </ul>
                    </div>
                    <input class="choose-input" type="file" id="pan" multiple="" ng-files="uploadFilesSave($files, 'pan')"  name="panCard" accept=".jpg, .jpeg, .png, .webp" onchange="checkFiles(2, 1024, this)" required="">
                </div>

                <div class="col-3 vertical_line wrap-doc-content " ng-mouseleave="hidePopup()">
                    <label ng-mouseenter="showPopup('otherDoc', 'Other Doc', $event)" class="form-label form-label-docs mb-3">Other Docs</label>
                    <div class="popupDoc" ng-show="isHovered && activePopup === 'otherDoc'" ng-style="popupStyle">
                        <h4>{{popupHeading}}</h4>
                        <ul>
                            <ol>
                                <li ng-repeat="doc in documents">{{ doc}}</li>
                            </ol>
                        </ul>
                    </div>
                    <input class="choose-input" type="file" id="otherDoc" multiple ng-files="uploadFilesSave($files, 'otherDoc')" name="otherDoc" accept=".pdf" onchange="checkFiles(5, 2048, this)" required=""> 
                </div>


                <div class="col-2 wrap-doc-content" ng-mouseleave="hidePopup()">
                    <label ng-mouseenter="showPopup('clientForm', 'Client Form', $event)" class="form-label mb-3">Client Form </label>
                    <div class="popupDoc" ng-show="isHovered && activePopup === 'clientForm'" ng-style="popupStyle">
                        <h4>{{popupHeading}}</h4>
                        <ul>
                            <ol>
                                <li ng-repeat="doc in documents">{{ doc}}</li>
                            </ol>
                        </ul>
                    </div>
                    <input class="choose-input" type="file" id="clientForm" multiple ng-files="uploadFilesSave($files, 'clientForm')" name="clientForm" accept=".pdf" onchange="checkFiles(2, 1024, this)" required="">
                </div>
            </div>


        </div>

        <div class="row">
            <div class="col-md-1"> 
                <button type="submit" class="form-button" ng-disabled="disableSubmit">Submit</button>
            </div>
            <div class="col-md-2 " style="margin-left: 40px;">
                <a  href="{{uRl}}user_asBOM.html" >
                    <button type="button"  class="form-button" ng-click="cancelBOMForm()"  > Cancel </button>
                </a>
            </div> 
        </div>
    </form>
</div>