<div ng-controller="currentGoldCont" class="containernew">

    <div class="row">
        <div class ="col-md-12 ">
            <div class="p-1">
                <h1 class="form-heading">KYC Verification</h1>
            </div>
            <div class="my-card p-3">  
                <form id="myForm" ng-submit="formdata()">

                    <div class="form-row"> 
                        <div class="col">
                            <div style="margin-top: -36px; margin-left: auto;">
                                <img style="width: 70px; height: 40px; margin-right: 10px;" src="image/Pan_img.webp" alt="" ng-click="showPanKYC()"/>
                                <img src="image/aadhaar.png" alt="" ng-click="showOKYC()"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label for="formProgress" class="form-label">Status :</label>
                            <input type="text" class="form-input" required ng-model="status" readonly="">
                        </div>
                        <div class="col">
                            <label for="id" class="form-label">ID:</label>
                            <input type="text" class="form-input" required ng-model="id" readonly="">
                        </div>
                    </div>

                    <div class="form-row mt-3">
                        <div class="col ">
                            <label for="formProgress" class="form-label">Remark :</label>
                            <textarea rows="3" cols="50" class="form-inputNew" required ng-model="oldRemark" readonly=""></textarea>
                        </div>
                    </div>                    
                    <div class="form-row">
                        <div class="col">
                            <hr style="height: 1px; border: thin; background-color: #80C37D;  margin-bottom: 10px; width: 100%;">
                            <label style="text-align: left; font-size: 18px;" for="applicantName" class="form-label"> APPLICANT </label>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col" >
                            <label for="accountType" class="form-label">Account Type :</label>
                            <input type="text" id="accountType" name="accountType" class="form-input" ng-model="accountType" required="" readonly="">
                        </div>

                        <div class="col">
                            <label for="branchName" class="form-label">Branch Name :</label>
                            <select id="branchName" name="branchName" class="form-input" ng-model="branchName" required>
                                <option value="{{reco.branchName}}">{{reco.branchName}}</option>
                            </select>
                        </div>
                    </div> 

                    <div class="form-row mt-2">
                        <label for="id" class="form-label">Applicant:</label>
                        <input type="text" pattern="^[A-Za-z]+(?: [A-Za-z]+)*$ {0,25}" id="applicant" name="applicant" class="form-control "  placeholder="First Applicant" ng-model="applicant" required="">
                    </div>

                    <div class="form-row mt-2">
                        <div  class="col">
                            <label for="adharNo" class="form-label">Mobile Number :</label>
                            <input type="tel" pattern="[0-9]{10}" id="mobileNo" name="mobileNo" class="form-input" ng-model="mobileNo" required="">
                        </div>

                        <div class="col-6"  >
                            <label for="aadharNo" class="form-label">Aadhar Number :</label>
                            <input type="tel"  title="Aadhar Number must be 12 length."  pattern="[0-9]{12}" id="adharNo" name="adharNo" class="form-input" ng-model="adharNo"  placeholder="Aadhar" required="">
                            <img id="info-icon_A" class="imgsync" ng-click="aadharcheck(adharNo)" src="image/sync.png" alt=""/>
                        </div>
                    </div> 

                    <div class="form-row mb-3">
                        <hr style="height: 1px; border: thin; background-color: #80C37D;  margin-bottom: 10px; width: 100%;">
                        <label style="text-align: center; font-size: 18px;" for="applicantName" class="form-label"> DOCUMENTS </label>
                    </div>   

                    <div class="form-row mb-3 justify-content-center">
                        <div class="row ">
                            <div class="col-2 vertical_line wrap-doc-content p-2" ng-mouseleave="hidePopup()">
                                <img class="rcornersimgE" id="imgPan" src="image/id_proof.png" alt="Image"  ng-click="viewIdProof()"/>
                                <label ng-mouseenter="showPopup('idProof', 'Id proof', $event)" class="form-label form-label-docs mb-3">ID proof</label>
                                <div class="popupDoc" ng-show="isHovered && activePopup === 'idProof'" ng-style="popupStyle">
                                    <h4>{{popupHeading}}</h4>
                                    <ul>
                                        <ol>
                                            <li ng-repeat="doc in documents">{{ doc}}</li>
                                        </ol>
                                    </ul>
                                </div>
                                <input class="choose-input" type="file" id="idProofCG" multiple ng-files="uploadFilesUpdate($files, 'idProof')"  accept=".jpg, .jpeg, .png, .webp" onchange="checkFiles(2, 1024, this)" ng-disabled="reco.idProofStatus === 'Accept'" required="" >
                            </div>

                            <div class="col-2 vertical_line wrap-doc-content p-2" ng-mouseleave="hidePopup()">
                                <img class="rcornersimgE" id="imgPan" src="image/addressProof.png" alt="Image"  ng-click="viewAddressProof()"/>
                                <label ng-mouseenter="showPopup('addressProof', 'Address Proof', $event)" class="form-label form-label-docs mb-3">Address proof </label>
                                <div class="popupDoc" ng-show="isHovered && activePopup === 'addressProof'" ng-style="popupStyle">
                                    <h4>{{popupHeading}}</h4>
                                    <ul>
                                        <ol>
                                            <li ng-repeat="doc in documents">{{ doc}}</li>
                                        </ol>
                                    </ul>
                                </div>
                                <input class="choose-input" type="file" id="addressProofCG" name="AddressProof" accept=".jpg, .jpeg, .png, .webp" multiple ng-files="uploadFilesUpdate($files, 'addressProof')" onchange="checkFiles(2, 1024, this)" ng-disabled="reco.addressProofStatus === 'Accept'" required="" >
                            </div>

                            <div class="col-2 vertical_line wrap-doc-content p-2" ng-mouseleave="hidePopup()">
                                <img class="rcornersimgE" id="imgPan" src="image/Pan_img.webp" alt="Image"  ng-click="viewPan()"/>
                                <label ng-mouseenter="showPopup('pan', 'Pan', $event)" class="form-label form-label-docs mb-3">PAN Card / Form-60/61</label>
                                <div class="popupDoc" ng-show="isHovered && activePopup === 'pan'" ng-style="popupStyle">
                                    <h4>{{popupHeading}}</h4>
                                    <ul>
                                        <ol>
                                            <li ng-repeat="doc in documents">{{ doc}}</li>
                                        </ol>
                                    </ul>
                                </div>
                                <input class="choose-input" type="file" id="panCG" name="panCard" accept=".jpg, .jpeg, .png, .webp" multiple ng-files="uploadFilesUpdate($files, 'pan')" onchange="checkFiles(2, 1024, this)" ng-disabled="reco.panStatus === 'Accept'" required="" >
                            </div>

                            <div class="col-2 vertical_line wrap-doc-content p-2" ng-mouseleave="hidePopup()">
                                <img class="rcornersimgE" id="imgPan" src="image/pdfimg.png" alt="Image"  ng-click="viewPdfOther()"/>
                                <label ng-mouseenter="showPopup('otherDoc', 'Other Doc', $event)" class="form-label form-label-docs mb-3">Other Docs</label>
                                <div class="popupDoc" ng-show="isHovered && activePopup === 'otherDoc'" ng-style="popupStyle">
                                    <h4>{{popupHeading}}</h4>
                                    <ul>
                                        <ol>
                                            <li ng-repeat="doc in documents">{{ doc}}</li>
                                        </ol>
                                    </ul>
                                </div>
                                <input class="choose-input" type="file" id="otherDocCG" name="otherDoc" accept=".pdf" multiple ng-files="uploadFilesUpdate($files, 'otherDoc')"  onchange="checkFiles(5, 2048, this)" ng-disabled="reco.otherDocStatus === 'Accept'" required="" > 
                            </div>

                            <div class="col-2 wrap-doc-content p-2" ng-mouseleave="hidePopup()">
                                <img class="rcornersimgE" id="imgPan" src="image/application_form.png" alt="Image"  ng-click="viewPdfClientForm()"/>
                                <label ng-mouseenter="showPopup('clientForm', 'Client Form', $event)" class="form-label mb-3">Client Form </label>
                                <div class="popupDoc" ng-show="isHovered && activePopup === 'clientForm'" ng-style="popupStyle">
                                    <h4>{{popupHeading}}</h4>
                                    <ul>
                                        <ol>
                                            <li ng-repeat="doc in documents">{{ doc}}</li>
                                        </ol>
                                    </ul>
                                </div>
                                <input class="choose-input" type="file" id="clientFormCG" name="applicationFormf" accept=".pdf" multiple ng-files="uploadFilesUpdate($files, 'clientForm')" onchange="checkFiles(2, 1024, this)" ng-disabled="reco.clientFormStatus === 'Accept'" required="" >
                            </div>
                        </div>
                    </div>

                    <div class="form-group mt-4">
                        <label for="formProgress" class="form-label">Remark :</label>
                        <textarea rows="3" cols="50" id="remark" name="remark" class="form-inputNew" ng-model="remark" required=""></textarea>
                        <input type="text" id="approvedBy" name="approvedBy" class="form-input" ng-model="approvedBy" hidden="">
                        <input type="text" id="uploadedBy" name="uploadedBy" class="form-input" ng-model="uploadedBy" hidden="">
                    </div>
                    <button type="submit" class="form-button padbutton" ng-show="notVisible_OnApproval" >Submit</button>
                    <button type="button" class="form-button padbutton" ng-show="Visible_OnApproval" ng-click="generatePDF(Record)" >Print</button>
                    <button type="button" class="form-button padbutton" ng-click="cancelBOMForm()"> Cancel </button>
                </form>
            </div>
        </div>
    </div>
</div>