<!--@Author - Ritik .k. Satpute-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Ritik .k. satpute" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="libAndJs/jquery-3.6.0.min.js" type="text/javascript"></script>
        <script src="libAndJs/angular.min.js" type="text/javascript"></script>
        <script src="libAndJs/xlsx.full.min.js" type="text/javascript"></script>
        <script src="libAndJs/html2pdf.bundle.js" type="text/javascript"></script>
        <script src="libAndJs/html2canvas.min.js" type="text/javascript"></script>
        <link href="libAndJs/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="libAndJs/css2.css" rel="stylesheet" type="text/css"/>
        <script src="libAndJs/moment.min.js" type="text/javascript"></script>
        <script src="libAndJs/xlsx.full.min.js" type="text/javascript"></script>
        <link href="css/bomCSS.css" rel="stylesheet" type="text/css"/>
        <link href="css/alertCSS.css" rel="stylesheet" type="text/css"/>        
        <!--js controller and main js-->
        <script src="js/user_asCOPs_Form.min.js" type="text/javascript"></script>

        <script src="libAndJs/popper.min.js" type="text/javascript"></script>
        <script src="libAndJs/jquery-3.6.0.min.js" type="text/javascript"></script>
        <script src="libAndJs/bootstrap.min_4.5.2.js" type="text/javascript"></script>

        <script src="js/modules/kyc.module.min.js" type="text/javascript"></script>
        <script src="js/modules/kycJointSaving.module.min.js" type="text/javascript"></script>
        <script src="js/modules/kycPartnership.module.min.js" type="text/javascript"></script>
        <script src="js/modules/kycPubpvt.module.min.js" type="text/javascript"></script>
        <script src="js/modules/kycSavingCurrent.module.min.js" type="text/javascript"></script>
        <script src="js/modules/kycSoleProprietorship.module.min.js" type="text/javascript"></script>
        <script src="js/modules/kycTasc.module.min.js" type="text/javascript"></script>
        <script>
             function checkFiles(maxFiles, maxTotalSizeKB, inputElement) {
             var files = inputElement.files;
             var maxTotalSizeBytes = maxTotalSizeKB * 1024; // Convert KB to Bytes

             if (files.length > maxFiles) {
             alert(`You can only upload a maximum of ${maxFiles} files.`);
             inputElement.value = ""; // Reset the file input
             return;
             }

             var totalSize = 0;
             for (var i = 0; i < files.length; i++) {
             totalSize += files[i].size;
             }

             if (totalSize > maxTotalSizeBytes) {
             alert(`Total file size exceeds the limit of ${maxTotalSizeKB} KB.`);
             inputElement.value = ""; // Reset the file input
             return;
             }

             }
        </script>
        <title>COPs Dashboard</title>
    </head>
    <body ng-app="COPsFormApp" ng-controller="cont">
        <div class="loader" ng-show="isLoading"></div>
        <div class="row" >

            <!--edit-->

            <div class="bomFormConatiner" ng-show="showSilverSaving" ng-include="'COPsform/silverSaving.html'"></div>

            <div class="bomFormConatiner" ng-show="showNormalSaving" ng-include="'COPsform/normalSaving.html'"></div>

            <div class="bomFormConatiner" ng-show="showJointSilverSaving" ng-include="'COPsform/jointSilverSaving.html'"></div>

            <div class="bomFormConatiner" ng-show="showJointNormalSaving" ng-include="'COPsform/jointNormalSaving.html'"></div>

            <div class="bomFormConatiner" ng-show="showCurrentWealth" ng-include="'COPsform/currentWealth.html'"></div>

            <div class="bomFormConatiner" ng-show="showCurrentGold" ng-include="'COPsform/currentGold.html'"></div>

            <div class="bomFormConatiner" ng-show="showNormalCurrent" ng-include="'COPsform/normalCurrent.html'"></div>

            <div class="bomFormConatiner" ng-show="showSoleProprietorship" ng-include="'COPsform/soleProprietorship.html'"></div>

            <div class="bomFormConatiner" ng-show="showPartnership" ng-include="'COPsform/partnership.html'"></div>

            <div class="bomFormConatiner" ng-show="showPublic_Pvt" ng-include="'COPsform/public_Pvt.html'"></div>

            <div class="bomFormConatiner" ng-show="showTASC" ng-include="'COPsform/tasc.html'"></div>


            <!--OKYC popup-->
            <div class="container mt-5 modal-content" ng-show="aadhaarCardshow">
                <div>
                    <div style="width: 40%; left:30%; right: 30%; top: 30;" class="modal" id="aadharModal" tabindex="-1" role="dialog" aria-labelledby="otpModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">

                        <div class="card p-4" >
                            <div class="modal-body">
                                <h3 class="card-title">Aadhaar Verification</h3>
                                <form ng-submit="sendOtp()">
                                    <div class="form-group">
                                        <label style="font-size: larger; font-weight: 500;" for="aadhaar">Aadhaar:</label>
                                        <input type="text" class="form-control" id="aadhaar" ng-model="aadhaar" required>
                                    </div>
                                    <button type="submit" class="btn btn-primary" ng-disabled="disSendOtp">Send OTP</button>
                                    <button type="button" class="btn btn-secondary" ng-click="cancel()">Cancel</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal w-100" id="otpModal" tabindex="-1" role="dialog" aria-labelledby="otpModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
                    <div class="modal-dialog w-100" role="document">
                        <div class="modal-content w-100">
                            <div class="modal-header" style="background-color:#80C37D;">
                                <h5 style="color:black; font-size: x-large; font-weight: 600; " class="modal-title" id="otpModalLabel">Enter OTP</h5>

                            </div>
                            <div class="modal-body">
                                <form ng-submit="verifyOtp()">
                                    <div class="form-group">
                                        <label for="otp">OTP:</label>
                                        <input type="text" class="form-control" id="otp" ng-model="otp" required>
                                    </div>
                                    <div ng-show="showTimer">
                                        <span >Time remaining:</span>
                                        <p ng-class="{'blink red-text': timer <= 30, 'green-text': timer > 30}"> {{formatTime(timer)}}</p>
                                    </div>
                                    <button type="submit" class="btn btn-primary" ng-disabled="disVerify">Verify</button>
                                    <button type="button" class="btn btn-secondary" ng-click="cancel()">Cancel</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <div ng-show="verificationSuccess" class="kyc_popupFoter alert alert-success" role="alert">
                                    Aadhaar Successfully Verified For <strong> {{verifyOtpResponse.result.user_full_name}} .</strong>
                                    <!--                                        Aadhaar Successfully Verified For <strong> {{verifyOtpResponse.result.user_full_name}} . <br>
                                                                                DOB : {{verifyOtpResponse.result.user_dob}} .</strong>-->
                                    <hr style="height: 1px; border: thin; background-color: #80C37D;  margin-bottom: 10px; width: 100%;">
                                    <div>
                                        <h4>KYC Details</h4>
                                        <p><strong>Full Name:</strong> {{verifyOtpResponse.result.user_full_name}}</p>
                                        <p><strong>Gender:</strong> {{verifyOtpResponse.result.user_gender}}</p>
                                        <p><strong>Date of Birth:</strong> {{verifyOtpResponse.result.user_dob}}</p>
                                        <p><strong>Aadhaar Number:</strong> {{verifyOtpResponse.result.user_aadhaar_number}}</p>
                                        <h5>Address:</h5>
                                        <p><strong>Country:</strong> {{verifyOtpResponse.result.user_address.country}}</p>
                                        <p><strong>State:</strong> {{verifyOtpResponse.result.user_address.state}}</p>
                                        <p><strong>District:</strong> {{verifyOtpResponse.result.user_address.dist}}</p>
                                        <p><strong>Location:</strong> {{verifyOtpResponse.result.user_address.loc}}</p>
                                        <p><strong>Landmark:</strong> {{verifyOtpResponse.result.user_address.landmark}}</p>
                                        <p><strong>Village/Town/City:</strong> {{verifyOtpResponse.result.user_address.vtc}}</p>
                                    </div>
                                </div>
                                <div ng-show="verificationFailure" class="alert alert-danger" role="alert">
                                    Aadhaar Verification Failed. Please try again.
                                </div>
                                <button ng-click="resendOtp()" class="btn btn-secondary" ng-show="showResendButton">Resend OTP</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!--PanKYC popup-->
            <div class="container mt-5 modal-content" ng-show="panCardshow">
                <!-- Modal -->
                <div class="modal w-100" id="panModal" tabindex="-1" role="dialog" aria-labelledby="otpModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
                    <div class="modal-dialog w-100" role="document">
                        <div class="modal-content w-100">
                            <div class="modal-header" style="background-color:#80C37D;">
                                <h5 style="color:black; font-size: x-large; font-weight: 600; " class="modal-title" id="otpModalLabel">Pan Verification</h5>

                            </div>
                            <div class="modal-body">
                                <form ng-submit="verifyPan()">
                                    <div class="form-group">
                                        <label for="otp">Pan No :</label>
                                        <input type="text" class="form-control" id="otp" ng-model="panNumber" required><br>
                                        <label for="otp">Pan Holder Name :</label>
                                        <input type="text" class="form-control" id="otp" ng-model="panHolderName" required>
                                    </div>
                                    <!--                                        <div ng-show="showTimer">
                                                                                <span >Time remaining:</span>
                                                                                <p ng-class="{'blink red-text': timer <= 30, 'green-text': timer > 30}"> {{formatTime(timer)}}</p>
                                                                            </div>-->
                                    <button type="submit" class="btn btn-primary" ng-disabled="disPanVerify">Verify</button>
                                    <button type="button" class="btn btn-secondary" ng-click="cancelPan()">Cancel</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <div ng-show="verificationPanSuccess" class="kyc_popupFoter alert alert-success" role="alert">
                                    Pan Successfully Verified For <strong> {{verifyPanResponse.result.name_on_card}} .</strong>
                                    <!--                                        Aadhaar Successfully Verified For <strong> {{verifyOtpResponse.result.user_full_name}} . <br>
                                                                                DOB : {{verifyOtpResponse.result.user_dob}} .</strong>-->
                                    <hr style="height: 1px; border: thin; background-color: #80C37D;  margin-bottom: 10px; width: 100%;">
                                    <div>
                                        <h4>Pan KYC Details</h4>
                                        <p><strong>Aadhaar Seeding Status :</strong> {{verifyPanResponse.result.aadhaar_seeding_status}}</p>
                                        <p><strong>Pan Last Updated :</strong> {{verifyPanResponse.result.pan_last_updated}}</p>
                                        <p><strong>Pan Number:</strong> {{verifyPanResponse.result.pan_number}}</p>
                                        <p><strong>Pan Status:</strong> {{verifyPanResponse.result.pan_status}}</p>
                                        <p><strong>First Name</strong> {{verifyPanResponse.result.user_first_name}}</p>
                                        <p><strong>Middle Name</strong> {{verifyPanResponse.result.user_middle_name}}</p>
                                        <p><strong>Last Name</strong> {{verifyPanResponse.result.user_last_name}}</p>
                                        <p><strong>Name On Card</strong> {{verifyPanResponse.result.name_on_card}}</p>
                                        <p><strong>User Title</strong> {{verifyPanResponse.result.user_title}}</p>
                                        <p><strong>Name Match Score</strong> {{verifyPanResponse.result.name_match_score}}</p>
                                        <p><strong>Pan Type</strong> {{verifyPanResponse.result.pan_type}}</p>
                                    </div>
                                </div>
                                <div ng-show="verificationPanFailure" class="alert alert-danger" role="alert">
                                    Pan Verification Failed. Please try again.
                                </div>
                                <button ng-click="resendPan()" class="btn btn-secondary" ng-show="showRetryButton">Retry</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <!-- Aadhar Number exist -->
            <div ng-show="forAadharDetails" class="popupAadhar list-container">
                <div style=" color: black; text-align: left;">
                    <div style="position: sticky; top: 0;">
                        <span class="close" ng-click="closeAadharDetails()">❌</span>
                        <h2 class="form-heading" >KYC Verification Details</h2>
                    </div>

                    <table class="table" style="border: solid #80C37D thin; border-radius: 5px;" >
                        <thead>
                            <tr class="cardviewth" >
                                <th scope="col">Ack_No.</th>
                                <th scope="col">Name</th>
                                <th scope="col">Aadhar No.</th>
                                <th scope="col">Acc Type</th>
                                <th scope="col">Branch</th>
                                <th scope="col">Status</th>
                                <th scope="col">Date</th>
                                <th scope="col">Uploaded By</th>
                                <th scope="col">Approved By</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="cardviewtr" ng-repeat="record in list">
                                <td scope="row">{{record.code.substring(5, 15)}}</td>
                                <td>{{record.applicantFirst}}</td>
                                <td>{{record.adharNoFirst}}</td>
                                <td>{{record.accountType}}</td>
                                <td>{{record.branchName}}</td>
                                <td>{{record.status}}</td>
                                <td>{{record.date[0]| date:'dd/MM/yyyy HH:mm:ss a' }}</td>
                                <td>{{record.uploadedBy}}</td>
                                <td>{{record.approvedBy}}</td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>

        <br>
        <div style="border-radius: 4px; margin-left: 16px; margin-right: 16px; background-color: #004516; color: white; font-size: 16px; text-align: center; opacity: 0.5; ">
            ©2024. Sahayog Multi-State Credit Co-operative Society Ltd. – All rights reserved.(PV 1.1)
        </div>
        <script>
             var idleTimeout = 900000; // 5 minutes in milliseconds
             var idleTimer;
             function resetTimer() {
             clearTimeout(idleTimer);
             idleTimer = setTimeout(logout, idleTimeout);
             }

             function logout() {
             window.localStorage.removeItem("user_asCOPs");
             location.reload();
             console.log("User automatically logged out due to inactivity.");
             }

             // Initial setup
             resetTimer();
             // Listen for user activity
             window.addEventListener('mousemove', resetTimer);
             window.addEventListener('keydown', resetTimer);
             window.addEventListener('scroll', resetTimer);
        </script>
    </body>
</html>
