/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 27, 2024, 10:37:48 AM
    Author     : ritik
*/

/*Editable form ! button*/
.popupE {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.popup-contentE {
    text-align: left;
}

.close-btnE {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Style for the info icon */
.info-iconE {
    font-weight: 800;
    font-size: 12px;
    cursor: pointer;
    padding: 1px 6px ;
    font-family: arial;
}

.dt {
    font-family: sans-serif;
}

.list-containerE {
    height: 500px;
    /* Adjust as needed */
    overflow-y: auto;
    scrollbar-width: thin;
    /* For Firefox */
    scrollbar-color: #888 #f1f1f1;
    /* For Firefox */
}

.listE {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-itemE {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

/* CSS for webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: rgba(255,255,255,0);
}

::-webkit-scrollbar-thumb {
    margin-right: 12px;
    background: #888;
    border-radius: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/*-----*/
body{
    zoom: 0.9;
    -moz-transform: scale(0.9);
    transform-origin: 0 0;
    /*    display:flex;
        align-content: center;
        align-items: center;*/
}

.form-input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-inputNew {
    width: 93%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container {
    max-width: 98%;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.containernew {
    max-width: 60%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.document {
    margin-bottom: 20px;
}

.document-label {
    font-weight: bold;
}    

.attractive-button {
    background-color: #91E246; 
    color: black; 
    border: none; 
    padding: 6px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
}

/* Add hover effect */
.attractive-button:hover {
    background-color: #007bff; 
}
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}
td, th {
    padding: 9px; 
}
h2 {
    background-color: #80C37D; 
    color:black;
    padding: 25px;
    border-radius: 5px; 
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
}
.rcorners {
    border-radius: 25px;
    border: 2px solid #C7E7C5;
    padding: 8px;
    height: 60px;
    margin-left: 18px;
}
.rcornersimg {
    border-radius: 10px;
    border: 2px solid #80C37D;
    padding: 0px;
    height:40px;
    width:50px;
}
.rcornersimgE {
    border-radius: 15px;
    border: 2px solid #80C37D;
    padding: 0px;
    height:80px;
    width:100px;
}
body{
    background-image: url('../image/bgImg_half.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
img{
    cursor: pointer; 
}
.idpoint{
    cursor: pointer; 
}
.recordcontainer {
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    border-radius: 5px; 
    margin-left: -6px;
    margin-right: -6px;
    margin-top: -6px;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.form-label {
    text-align: left;
    font-weight: bold;
}
.form-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    /*padding: 10px 20px;*/
    cursor: pointer;
    align-self: flex-end; /* Align the button to the right */
}

.form-button:hover {
    background-color: #0056b3;
}
h1.form-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: #80C37D; 
    color: black ; 
    padding: 10px; 
}
.form-button{
    display: inline-block;
    /*margin-top: 15px;*/
    /*padding: 10px 20px;*/
    background-color: #C7E7C5;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.form-buttonf {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 4px 8px;
    cursor: pointer;
    align-self: flex-end; /* Align the button to the right */
    margin-top: -6px;
}


.form-button:hover , .form-buttonf:hover  {
    background-color: #0056b3;
}

.form-inputf {
    width: 84%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button:hover {
    background-color: #91E246;
}
.form-group1 {
    display: inline-block;
    width: 250px; 
}
.cardviewtr{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    background-color:#C7E7C5;

}

.cardviewth{
    text-align: center;
    /*overflow: hidden;*/
    /*background-color: #80C37D;*/
    border: 2px solid #80C37D;
    border-radius: 20px;
}
.searchbar{
    width: 85%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;      
}
.tablecontainer{
    width: 100%;
}
.ownfield{
    width: 26%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.vertical_line{
    border-right-style: dashed;
    border-right-width:2px; 
    border-right-color: #80C37D;
}
.docdivIn_F{
    text-align: center;
}
.docdivIn_S{
    padding-left: 50px;
    padding-right: 45px;
}
.docdiv{
    display: inline-block;
    width: 24%;
    /*padding-left: 10px;*/
}
/* Style the header */
header {
    background-color: #80C37D; 
    color: #fff;
    padding: 12px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px; 
    margin-left: -9px;
    margin-right: -9px;
    margin-top: -9px;
}

/* Style the buttons */
.header-btn {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
.header-btn.help-icon {
    padding: 8px 16px;
    background-color: #007bff; /* Change this to the desired help icon background color */
}
.headerdiv{
    background-color: #91E246; 
    color:black;
    padding: 25px;
    border-radius: 5px; 
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    width: 100%;
}
.titlename{
    font-size: 40px; 
    font-weight: 600;
    color: white; 
    font-family: 'Roboto Slab', serif;
}

/* Styles for the popup */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.popupAadhar {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.close {
    position: absolute;
    top: 10px;
    right: 0px;
    cursor: pointer;
}

/* Style for the info icon */
#info-icon {
    font-size: 12px;
    cursor: pointer;
}
dt{
    font-family: sans-serif;
}
.list-container {
    height: 500px; /* Adjust as needed */
    overflow-y: auto;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #888 #f1f1f1; /* For Firefox */
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.padbutton{
    padding: 10px 20px;
}
.iconlook{
    padding: 0px;
    height:15px;
    width:15px;
}
.table-view{
    height: 440px;
    overflow-y: auto;
}
thead th {
    background-color: #80C37D;;
}
/*userName */
.user_name{
    text-align: center;
    width: 14%; 
    display: inline-block;
    color: black;
    border-radius: 25px;
    border: 2px solid #80C37D;
    padding: 4px;
    height: 38px;
    background-color: #C7E7C5;
    font-weight: 500;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}
.imgsync{
    height:30px;
    width:30px;
    vertical-align: middle;
}  
/*// For Loading Image*/
#loadingIcon{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}    

.accepted-button {
    background-color: #3572EF !important; /* Blue background */
    color: #fff; /* White text */
}

.wrap-doc-content {
    align-items: center;
    max-width: 550px;
    width:300px;
    display: flex;
    flex-direction: column;
    /*    overflow: hidden;  */
    /*white-space: nowrap;*/  
    /*text-overflow: ellipsis;*/
    font-size: 16px;  
}

.form-labelf {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
}

.form-label-docs {
    text-align: left;
    font-weight: bold;
    font-size: 15px;
}

.choose-input {
    width: 200px;
    /*padding: 8px;*/
    font-size: 12px;
}

.bomFormConatiner{
    width:100%;
}

.popupDoc {
    position: absolute;
    background-color: #EDFEEC ;
    border: 1px solid #80C37E;
    border-radius: 15px;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 300px;
    text-wrap: wrap;
    height: 220px;
}

.popupDoc ul {
    list-style-type: square;
    padding: 0;
    margin: 0;
    height: 170px;
    overflow: auto;
    font-size: 14px;
}
.popupDoc ol {
    list-style-type: square;
}

.popupDoc li {
    margin: 5px 0;
    margin-left: -22px;
}

.popupDoc h4 {
    margin: 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

.popupDocL {
    position: absolute;
    background-color: #EDFEEC ;
    border: 1px solid #80C37E;
    border-radius: 15px;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 350px;
    text-wrap: wrap;
    height: 250px;
}

.popupDocL ul {
    list-style-type: square;
    padding: 0;
    margin: 0;
    height: 170px;
    overflow: auto;
    font-size: 14px;
}
.popupDocL ol {
    list-style-type: square;
}

.popupDocL li {
    margin: 5px 0;
    margin-left: -22px;
}

.popupDocL h4 {
    margin: 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}


@media screen and (min-width: 0px) and (max-width: 220px) {
    .wrap-doc-content {
        font-size: 15px; /* Set maximum font size */
        display: flex;
        flex-direction: column;
    }

    .choose-input{
        font-size: 10px;
    }


}

@media screen and (min-width: 0px) and (max-width: 600px){

    .vertical_line{
        border-right-style: none;
    }

}


.card-title{
    background-color: #80C37D; 
    color:black;
    padding: 25px;
    font-weight: 600;
    border-radius: 5px; 
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 140vw;
    height: 140vh;
    background-color: #000;
}
.kyc_popupFoter{
    max-height: 350px;
    overflow-y: auto;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #80C37D;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1111;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { 
        transform: rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg); 
    }
}