body{
    zoom: 0.9;
    -moz-transform: scale(0.9);
    transform-origin: 0 0;
}            
h1.form-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: #80C37D; 
    color: black ; 
    padding: 10px; 
}
.form-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: -9px;
    margin-right: -9px;
    margin-top: -9px;
    border-radius: 4px; 
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 60%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.document {
    margin-bottom: 20px;
}

.document-label {
    font-weight: bold;
}    

.attractive-button {
    background-color: #91E246; 
    color: black; 
    border: none; 
    padding: 6px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
}

/* Add hover effect */
.attractive-button:hover {
    background-color: #007bff; 
}
table {
    border-collapse: separate;
    border-spacing: 0 20px;
}
td, th {
    padding: 10px; 
}
h2 {
    background-color: #80C37D; 
    color:black;
    padding: 25px;
    border-radius: 5px; 
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
}

h3 {
    background-color: #80C37D; 
    color:black;
    padding: 25px;
    font-weight: 600;
    border-radius: 5px; 
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
}


.rcorners {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 10px;
    height: 40px;
}
.rcornersimg {
    border-radius: 20px;
    border: 2px solid #80C37D;
    padding: 0px;
}
/*            .alitd{
                text-align: center;
            }*/
body{
    /*background-image: url('image/bgImg_half.png');*/
    background-color: #C7E7C5;
    /*background-image: url('/home/mishra/NetBeansProjects/resources/static/image/branch.png');*/
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
img{
    cursor: pointer; 
}
.idpoint{
    cursor: pointer; 
}
.recordcontainer {
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.form-label {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
}

.form-label-docs {
    text-align: left;
    font-weight: bold;
    font-size: 15px;
}


.form-input {
    width: 56%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.selectedOpt{
    background-color: #e9ecef;
}



.form-inputf {
    width: 84%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    align-self: flex-end; /* Align the button to the right */
}

.form-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    align-self: flex-end; /* Align the button to the right */
}


.form-buttonf {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 4px 8px;
    cursor: pointer;
    align-self: flex-end; /* Align the button to the right */
    margin-top: -6px;
}


.form-button:hover , .form-buttonf:hover  {
    background-color: #0056b3;
}


h1.form-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: #80C37D; 
    color: black ; 
    padding: 10px; 
}


.form-button{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #C7E7C5;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}


.button:hover {
    background-color: #91E246;
}
.form-group1 {
    display: inline-block;
    width: 250px; /* Adjust the width as needed */
    /* Other CSS styles for .form-group1 */
}
.cardviewtr{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    background-color: #C6F19E;

}
.cardviewth{
    overflow: hidden;
    background-color: #91E246;
    border: 2px solid #91E246;
    border-radius: 20px;
}
.searchbar{
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;    
}
.tablecontainer{
    width: 100%;
}
.ownfield{
    width: 26%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.vertical_line{
    border-right-style: dashed;
    border-right-width:2px; 
    border-right-color: #80C37D;
}
.docdiv1{
    display: inline-block;
    padding-left: 10px;
}
.docdiv2{
    display: inline-block;
    padding-left: 10px;
}
.docdiv3{
    display: inline-block;
    padding-left: 10px;
}
/* Styles for the popup */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.popupAadhar {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.popup-content {
    /*text-align: center;*/
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Style for the info icon */
#info-icon {
    font-size: 12px;
    cursor: pointer;
}
dt{
    font-family: sans-serif;
}
.list-container {
    height: 500px; /* Adjust as needed */
    overflow-y: auto;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #888 #f1f1f1; /* For Firefox */
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

/* CSS for webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: rgba(255,255,255,0);
}

::-webkit-scrollbar-thumb {
    margin-right: 12px;
    background: #888;
    border-radius: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.cardviewtr{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    background-color:#C7E7C5;

}

.cardviewth{
    text-align: center;
    /*overflow: hidden;*/
    background-color: #80C37D;
    /*border: 2px solid #80C37D;*/
    border-radius: 20px;
}

.imgsync{
    height:30px;
    width:30px;
    vertical-align: middle;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

td, th {
    padding: 9px; 
}

thead th {
    background-color: #80C37D;
}


.v-line {
    border: 1px solid #80C37D; /* Light gray vertical line */
    border-style: dashed;
    margin-left: 70px;
    /* Adjust padding as needed */
    /* display: flex; */
}


.choose-input{
    width: 200px; /* Adjust the width as needed */
    padding: 8px; /* Optional: Adjust padding for aesthetics */
    font-size: 12px; /* Optional: Adjust font size for aesthetics */
}


.wrap-doc-content {
    max-width: 200px;   
    /*    overflow: hidden;  */
    /*white-space: nowrap;*/  
    /*text-overflow: ellipsis;*/
    font-size: 16px;  
}

.adjSelect{
    margin-left: 14px;
}


.form-control{
    width:95% !important;
}


@media screen and (min-width: 0px) and (max-width: 320px) {
    .wrap-doc-content {
        font-size: 15px; /* Set maximum font size */
    }

    .choose-input{
        font-size: 10px;
    }


}

@media screen and (min-width: 0px) and (max-width: 600px){

    .vertical_line{
        border-right-style: none;
    }

}

/*OKYC -- POPUP*/
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #80C37D;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1111;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { 
        transform: rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg); 
    }
}

.blink {
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
    50% { opacity: 0; }
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 140vw;
    height: 140vh;
    background-color: #000;
}


.red-text {
    color: red;
}
.green-text {
    color: green;
}

.kyc_popupFoter{
    max-height: 350px;
    overflow-y: auto;
}
.popupDoc {
    position: absolute;
    background-color: #EDFEEC ;
    border: 1px solid #80C37E;
    border-radius: 15px;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 300px;
    text-wrap: wrap;
    height: 220px;
}

.popupDoc ul {
    list-style-type: square;
    padding: 0;
    margin: 0;
    height: 170px;
    overflow: auto;
    font-size: 14px;
}
.popupDoc ol {
    list-style-type: square;
}

.popupDoc li {
    margin: 5px 0;
    margin-left: -22px;
}

.popupDoc h4 {
    margin: 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

.popupDocL {
    position: absolute;
    background-color: #EDFEEC ;
    border: 1px solid #80C37E;
    border-radius: 15px;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 350px;
    text-wrap: wrap;
    height: 250px;
}

.popupDocL ul {
    list-style-type: square;
    padding: 0;
    margin: 0;
    height: 170px;
    overflow: auto;
    font-size: 14px;
}
.popupDocL ol {
    list-style-type: square;
}

.popupDocL li {
    margin: 5px 0;
    margin-left: -22px;
}

.popupDocL h4 {
    margin: 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}
