<div ng-controller="normalCurrentCont" class="containernew">

    <div class="row">
        <div class ="col-md-12 ">
            <div class="p-1">
                <h1 class="form-heading">KYC Verification</h1>
            </div>
            <div class="my-card p-3">  
                <form id="myForm">

                    <div class="form-row">
                        <div style="margin-top: -36px; margin-left: auto;">
                            <img style="width: 70px; height: 40px; margin-right: 10px;" src="image/Pan_img.webp" alt="" ng-click="showPanKYC()"/>
                            <img src="image/aadhaar.png" alt="" ng-click="showOKYC()"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label for="formProgress" class="form-label">Status :</label>
                            <input type="text" class="form-input" required ng-model="status" readonly="">
                        </div>
                        <div class="col">
                            <label for="id" class="form-label">ID:</label>
                            <input type="text" class="form-input" required ng-model="id" readonly="">
                        </div>
                    </div>

                    <div class="form-row mt-3">
                        <div class="col ">
                            <label for="formProgress" class="form-label">Remark :</label>
                            <textarea rows="3" cols="50" class="form-inputNew" required ng-model="oldRemark" readonly=""></textarea>
                        </div>
                    </div>                    
                    <div class="form-row">
                        <div class="col">
                            <hr style="height: 1px; border: thin; background-color: #80C37D;  margin-bottom: 10px; width: 100%;">
                            <label style="text-align: left; font-size: 18px;" for="applicantName" class="form-label"> APPLICANT </label>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col" >
                            <label for="accountType" class="form-label">Account Type :</label>
                            <input type="text" id="accountType" name="accountType" class="form-input" ng-model="accountType" required="" readonly="">
                        </div>

                        <div class="col">
                            <label for="branchName" class="form-label">Branch Name :</label>
                            <select id="branchName" name="branchName" class="form-input" ng-model="branchName" required="">
                                <option value="{{reco.branchName}}">{{reco.branchName}}</option>
                            </select>
                        </div>
                    </div> 

                    <div class="form-row mt-2">
                        <label for="id" class="form-label ">Applicant:</label>
                        <input type="text" pattern="^[A-Za-z]+(?: [A-Za-z]+)*$ {0,25}" id="applicant" name="applicant" class="form-control "  placeholder="First Applicant" ng-model="applicant" required="" readonly="">
                    </div>

                    <div class="form-row mt-2">
                        <div  class="col">
                            <label for="adharNo" class="form-label">Mobile Number :</label>
                            <input type="tel" pattern="[0-9]{10}" id="mobileNo" name="mobileNo" class="form-input" ng-model="mobileNo" required="" readonly="">
                        </div>

                        <div class="col-6"  >
                            <label for="aadharNo" class="form-label">Aadhar Number :</label>
                            <input type="tel"  title="Aadhar Number must be 12 length."  pattern="[0-9]{12}" id="adharNo" name="adharNo" class="form-input" ng-model="adharNo"  placeholder="Aadhar" required="" readonly="">
                            <img id="info-icon_A" class="imgsync" ng-click="aadharcheck(adharNo)" src="image/sync.png" alt=""/>
                        </div>
                    </div> 

                    <div class="form-row mb-3">
                        <hr style="height: 1px; border: thin; background-color: #80C37D;  margin-bottom: 10px; width: 100%;">
                        <label style="text-align: center; font-size: 18px;" for="applicantName" class="form-label"> DOCUMENTS </label>
                    </div>   

                    <div class="form-row mb-3 justify-content-center">
                        <div class="row ">
                            <div class="col-2 vertical_line wrap-doc-content p-2">
                                <div>
                                    <img class="rcornersimgE" id="imgPan" src="image/id_proof.png" alt="Image"  ng-click="viewIdProof()"/>
                                </div>
                                <div>
                                    <label class="form-label form-label-docs mb-3">Id proof</label>
                                </div>
                                <div>
                                    <button type="button" class="form-buttonGr" ng-click="updateDocStatus('idProofNCAC', 'idProofStatus')" id="idProofNCAC" ng-class="{'accepted-button': reco.idProofStatus === 'Accept'}">Accept</button>
                                    <button type="button" class="form-buttonRe" ng-click="updateDocStatus('idProofNCRE', 'idProofStatus')" id="idProofNCRE" ng-class="{'accepted-button': reco.idProofStatus === 'Reject'}">Reject</button>
                                </div>
                            </div>

                            <div class="col-2 vertical_line wrap-doc-content p-2">
                                <div>
                                    <img class="rcornersimgE" id="imgPan" src="image/addressProof.png" alt="Image"  ng-click="viewAddressProof()"/>
                                </div>
                                <div>
                                    <label class="form-label form-label-docs mb-3">Address proof </label>
                                </div>
                                <div>
                                    <button type="button" class="form-buttonGr" ng-click="updateDocStatus('addressProofNCAC', 'addressProofStatus')" id="addressProofNCAC" ng-class="{'accepted-button': reco.addressProofStatus === 'Accept'}">Accept</button>
                                    <button type="button" class="form-buttonRe" ng-click="updateDocStatus('addressProofNCRE', 'addressProofStatus')" id="addressProofNCRE" ng-class="{'accepted-button': reco.addressProofStatus === 'Reject'}">Reject</button>
                                </div>
                            </div>

                            <div class="col-2 vertical_line wrap-doc-content p-2">
                                <div>
                                    <img class="rcornersimgE" id="imgPan" src="image/Pan_img.webp" alt="Image"  ng-click="viewPan()"/>
                                </div>
                                <div>
                                    <label class="form-label form-label-docs mb-3">PAN / Form-60/61</label>
                                </div>
                                <div>
                                    <button type="button" class="form-buttonGr" ng-click="updateDocStatus('panNCAC', 'panStatus')" id="panNCAC" ng-class="{'accepted-button': reco.panStatus === 'Accept'}">Accept</button>
                                    <button type="button" class="form-buttonRe" ng-click="updateDocStatus('panNCRE', 'panStatus')" id="panNCRE" ng-class="{'accepted-button': reco.panStatus === 'Reject'}">Reject</button>
                                </div>
                            </div>

                            <div class="col-2 vertical_line wrap-doc-content p-2">
                                <div>
                                    <img class="rcornersimgE" id="imgPan" src="image/pdfimg.png" alt="Image"  ng-click="viewPdfOther()"/>
                                </div>
                                <div>
                                    <label class="form-label form-label-docs mb-3">Other Docs</label>
                                </div>
                                <div>
                                    <button type="button" class="form-buttonGr" ng-click="updateDocStatus('otherDocNCAC', 'otherDocStatus')" id="otherDocNCAC" ng-class="{'accepted-button': reco.otherDocStatus === 'Accept'}">Accept</button>
                                    <button type="button" class="form-buttonRe" ng-click="updateDocStatus('otherDocNCRE', 'otherDocStatus')" id="otherDocNCRE" ng-class="{'accepted-button': reco.otherDocStatus === 'Reject'}">Reject</button>
                                </div>
                            </div>

                            <div class="col-2 wrap-doc-content p-2">
                                <div>
                                    <img class="rcornersimgE" id="imgPan" src="image/application_form.png" alt="Image"  ng-click="viewPdfClientForm()"/>
                                </div>
                                <div>
                                    <label class="form-label mb-3">Client Form </label>
                                </div>
                                <div>
                                    <button type="button" class="form-buttonGr" ng-click="updateDocStatus('clientFormNCAC', 'clientFormStatus')" id="clientFormNCAC" ng-class="{'accepted-button': reco.clientFormStatus === 'Accept'}">Accept</button>
                                    <button type="button" class="form-buttonRe" ng-click="updateDocStatus('clientFormNCRE', 'clientFormStatus')" id="clientFormNCRE" ng-class="{'accepted-button': reco.clientFormStatus === 'Reject'}">Reject</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mt-4">
                        <label for="formProgress" class="form-label">Remark :</label>
                        <textarea rows="3" cols="50" id="remark" name="remark" class="form-inputNew" ng-model="remark"></textarea>
                        <input type="text" id="approvedBy" name="approvedBy" class="form-input" ng-model="approvedBy" hidden="">
                        <input type="text" id="uploadedBy" name="uploadedBy" class="form-input" ng-model="uploadedBy" hidden="">
                    </div>
                    <input type="submit" class="form-button padbutton" ng-click="formdata('Approved')" value="Approve" name="Approve" ng-show="notVisible_OnAccept">
                    <input type="submit" class="form-button padbutton" ng-click="formdata('Pending at BOM')" value="Pending at BOM" ng-show="notVisible_OnAcceptP" name="Pending at BOM">
                    <button type="button" class="form-button padbutton" ng-click="cancelCOPsForm()"> Cancel </button>
                </form>
            </div>
        </div>
    </div>
</div>