<div ng-controller="tascCont" class="containernew">

    <div class="row">
        <div class ="col-md-12 ">
            <div class="p-1">
                <h1 class="form-heading">KYC Verification</h1>
            </div>

            <div class="my-card p-3">  
                <form id="myForm">

                    <div class="form-row">
                        <div style="margin-top: -36px; margin-left: auto;">
                            <img style="width: 70px; height: 40px; margin-right: 10px;" src="image/Pan_img.webp" alt="" ng-click="showPanKYC()"/>
                            <img src="image/aadhaar.png" alt="" ng-click="showOKYC()"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label for="formProgress" class="form-label">Status :</label>
                            <input type="text" class="form-input" required value="status" ng-model="status" readonly="">
                        </div>
                        <div class="col">
                            <label for="id" class="form-label">ID:</label>
                            <input type="text" class="form-input" required value="id" ng-model="id" readonly="">
                        </div>
                    </div>

                    <div class="form-row mt-3">
                        <div class="col ">
                            <label for="formProgress" class="form-label">Remark :</label>
                            <textarea rows="3" cols="50" class="form-inputNew" required ng-model="oldRemark" readonly=""></textarea>
                        </div>
                    </div> 

                    <div class="form-row">
                        <div class="col">
                            <hr style="height: 1px; border: thin; background-color: #80C37D;  margin-bottom: 10px; width: 100%;">
                            <label style="text-align: left; font-size: 18px;" for="applicantName" class="form-label"> APPLICANT </label>
                        </div>
                    </div>

                    <div class="form-row mb-3 ">

                        <div class="col" >
                            <label for="accountType" class="form-label">Account Type :</label>
                            <input type="text" class="form-input selectedOpt"  ng-model="selectedAccOption"  readonly="">
                        </div>

                        <div class="col">
                            <label for="branchName" class="form-label">Branch Name :</label>
                            <select id="branchName" name="branchName" class="form-input ml-3" ng-model="branchName" required="">
                                <option value="" disabled selected  ><i class="center-align" style="color: #999;" >Select Branch Name</option>
                                    <option value="{{reco.branchName}}">{{reco.branchName}}</option>
                            </select>
                        </div>
                    </div>



                    <div class="form-row mb-3 mr-md-auto  justify-content-center ">
                        <!--<div class="col-md-1 pt-1  mr-md-auto">-->
                        <div class="col-sm-2 pt-1 ">
                            <label for="id" class="form-label ">Entity :</label>
                        </div>

                        <div class="col-10">    
                            <input type="text" pattern="^[A-Za-z]+(?: [A-Za-z]+)*$ {0,25}" id="entity" name="entity" class="form-control "  placeholder="Entity" ng-model="entity" required="" readonly="">
                        </div>

                    </div>



                    <div class="form-row mb-3 mr-md-auto  justify-content-center ">
                        <div class="col-sm-2 pt-1 ">
                            <label for="id" class="form-label ">1st Applicant :</label>
                        </div>

                        <div class="col-10">    
                            <input type="text" pattern="^[A-Za-z]+(?: [A-Za-z]+)*$ {0,25}" id="applicant1" name="applicant1" class="form-control "  placeholder="First Applicant" ng-model="applicantFirst" required="" readonly="">
                        </div>

                    </div>


                    <div class="form-row mb-3 mr-md-auto  justify-content-center " ng-show="showApp2" >
                        <div class="col-sm-2 pt-1 ">
                            <label for="id" class="form-label ">2nd Applicant :</label>
                        </div>

                        <div class="col ">
                            <input type="text" pattern="^[A-Za-z]+(?: [A-Za-z]+)*$ {0,25}"  id="applicant2" name="applicant2" class="form-control"  placeholder="Second Applicant" ng-model="applicantSecond" readonly="">
                        </div>
                    </div>


                    <div class="form-row mb-3 mr-md-auto  justify-content-center " ng-show="showApp3" >
                        <div class="col-sm-2 pt-1 ">
                            <label for="id" class="form-label ">3rd Applicant :</label>
                        </div>
                        <div class="col ">
                            <input type="text" pattern="^[A-Za-z]+(?: [A-Za-z]+)*$ {0,25}"  id="applicant3" name="applicant3" class="form-control" placeholder="Third Applicant" ng-model="applicantThird" readonly="">
                        </div>
                    </div>

                    <div class="form-row mb-3 mr-md-auto  justify-content-center "  ng-show="showApp4">
                        <div class="col-sm-2 pt-1 ">
                            <label for="id" class="form-label ">4th Applicant :</label>
                        </div>
                        <div class="col ">
                            <input type="text" pattern="^[A-Za-z]+(?: [A-Za-z]+)*$ {0,25}"  id="applicant4" name="applicant4" class="form-control" placeholder="Fourth Applicant" ng-model="applicantFourth" readonly="">
                        </div>
                    </div>

                    <div class="form-row mb-3 mr-md-auto  justify-content-center " ng-show="showApp5">
                        <div class="col-sm-2 pt-1 ">
                            <label for="id" class="form-label ">5th Applicant :</label>
                        </div>
                        <div class="col ">
                            <input type="text" pattern="^[A-Za-z]+(?: [A-Za-z]+)*$ {0,25}"  id="applicant5" name="applicant5" class="form-control" placeholder="Fifth Applicant" ng-model="applicantFifth" readonly="">
                        </div>
                    </div>

                    <!--                    button for add applicant
                                        <div class="form-row mb-3" >
                                            <button type="button" class="form-buttonf" ng-click="addApplicantTasc()">Add Applicant</button>
                                        </div>
                    
                                        <div class="form-row mb-3" >
                                            <button type="button" class="form-buttonf" ng-click="removeApplicantTask()">Remove Applicant</button>
                                        </div>-->

                    <div class="form-row mb-3 " >
                        <div class="col">
                            <div class="row">
                                <div class="col-4">
                                    <label for="adharNo" class="form-label" style="display:inline-block;">Aadhar Number :</label>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-4">
                                    <input type="tel"  title="Aadhar Number must be 12 length."  pattern="[0-9]{12}" id="adharNo1" name="adharNo" class="form-inputf" ng-model="adharNoFirst" placeholder="Aadhar-1" readonly="">
                                    <img id="info-icon_A1" class="imgsync" ng-click="aadharcheck(adharNoFirst)" src="image/sync.png" alt=""/>

                                </div>
                                <!--2nd addhar-->
                                <div class="col-4 " ng-show="showApp2" >
                                    <!--                                    <label for="adharNo" class="form-label">Aadhar Number:</label>-->
                                    <input type="tel"  title="Aadhar Number must be 12 length."  pattern="[0-9]{12}" id="adharNo2" name="adharNo2" class="form-inputf" ng-model="adharNoSecond" placeholder="Aadhar-2" readonly="">
                                    <img id="info-icon_A2" class="imgsync" ng-click="aadharcheck(adharNoSecond)" src="image/sync.png" alt=""/>
                                </div>
                                <!--/ 3rd aadhar -->
                                <div class="col-4 "  ng-show="showApp3">
                                    <!--                                    <label for="adharNo" class="form-label">Aadhar Number:</label>-->
                                    <input type="tel"  title="Aadhar Number must be 12 length."  pattern="[0-9]{12}" id="adharNo3" name="adharNo3" class="form-inputf" ng-model="adharNoThird" placeholder="Aadhar-3" readonly="">
                                    <img id="info-icon_A3" class="imgsync" ng-click="aadharcheck(adharNoThird)" src="image/sync.png" alt=""/>
                                </div>

                                <div class="col-4 mt-2"  ng-show="showApp4">
                                    <!--                                    <label for="adharNo" class="form-label">Aadhar Number:</label>-->
                                    <input type="tel"  title="Aadhar Number must be 12 length."  pattern="[0-9]{12}" id="adharNo4" name="adharNo4" class="form-inputf" ng-model="adharNoFourth" placeholder="Aadhar-4" readonly="">
                                    <img id="info-icon_A3" class="imgsync" ng-click="aadharcheck(adharNoFourth)" src="image/sync.png" alt=""/>
                                </div>

                                <div class="col-4 mt-2 "  ng-show="showApp5" >
                                    <!--                                    <label for="adharNo" class="form-label">Aadhar Number:</label>-->
                                    <input type="tel"  title="Aadhar Number must be 12 length."  pattern="[0-9]{12}" id="adharNo5" name="adharNo5" class="form-inputf" ng-model="adharNoFifth" placeholder="Aadhar-5" readonly="">
                                    <img id="info-icon_A3" class="imgsync" ng-click="aadharcheck(adharNoFifth)" src="image/sync.png" alt=""/>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-row mb-3 ">
                        <div class="col-6">
                            <label for="mobileNo" class="form-label">Mobile Number :</label>
                            <input type="tel"  title="Mobile Number must be 10 length."  pattern="[0-9]{10}" id="mobileNo" name="mobileNo" class="form-input ml-1" ng-model="mobileNo" required="" readonly="">
                        </div>
                    </div>

                    <div class="form-row mb-3">
                        <hr style="height: 1px; border: thin; background-color: #80C37D;  margin-bottom: 10px; width: 100%;">
                        <label style="text-align: center; font-size: 18px;" for="applicantName" class="form-label"> DOCUMENTS </label>
                    </div>   

                    <div class="form-row mb-3 justify-content-center">
                        <div class="row ">
                            <div class="col-2 vertical_line wrap-doc-content p-2">
                                <div>
                                    <img class="rcornersimgE" id="imgPan" src="image/id_proof.png" alt="Image"  ng-click="viewIdProof()"/>
                                </div>
                                <div>
                                    <label class="form-label form-label-docs mb-3">Id proof</label>
                                </div>
                                <div>
                                    <button type="button" class="form-buttonGr" ng-click="updateDocStatus('idProofTAC', 'idProofStatus')" id="idProofTAC" ng-class="{'accepted-button': reco.idProofStatus === 'Accept'}">Accept</button>
                                    <button type="button" class="form-buttonRe" ng-click="updateDocStatus('idProofTRE', 'idProofStatus')" id="idProofTRE" ng-class="{'accepted-button': reco.idProofStatus === 'Reject'}">Reject</button>
                                </div>
                            </div>

                            <div class="col-2 vertical_line wrap-doc-content p-2">
                                <div>
                                    <img class="rcornersimgE" id="imgPan" src="image/addressProof.png" alt="Image"  ng-click="viewAddressProof()"/>
                                </div>
                                <div>
                                    <label class="form-label form-label-docs mb-3">Address proof </label>
                                </div>
                                <div>
                                    <button type="button" class="form-buttonGr" ng-click="updateDocStatus('addressProofTAC', 'addressProofStatus')" id="addressProofTAC" ng-class="{'accepted-button': reco.addressProofStatus === 'Accept'}">Accept</button>
                                    <button type="button" class="form-buttonRe" ng-click="updateDocStatus('addressProofTRE', 'addressProofStatus')" id="addressProofTRE" ng-class="{'accepted-button': reco.addressProofStatus === 'Reject'}">Reject</button>
                                </div>
                            </div>

                            <div class="col-2 vertical_line wrap-doc-content p-2">
                                <div>
                                    <img class="rcornersimgE" id="imgPan" src="image/Pan_img.webp" alt="Image"  ng-click="viewPan()"/>
                                </div>
                                <div>
                                    <label class="form-label form-label-docs mb-3">PAN / Form-60/61</label>
                                </div>
                                <div>
                                    <button type="button" class="form-buttonGr" ng-click="updateDocStatus('panTAC', 'panStatus')" id="panTAC" ng-class="{'accepted-button': reco.panStatus === 'Accept'}">Accept</button>
                                    <button type="button" class="form-buttonRe" ng-click="updateDocStatus('panTRE', 'panStatus')" id="panTRE" ng-class="{'accepted-button': reco.panStatus === 'Reject'}">Reject</button>
                                </div>
                            </div>

                            <div class="col-2 vertical_line wrap-doc-content p-2">
                                <div>
                                    <img class="rcornersimgE" id="imgPan" src="image/pdfimg.png" alt="Image"  ng-click="viewTascDoc()"/>
                                </div>
                                <div>
                                    <label class="form-label form-label-docs mb-3">TASC Document</label>
                                </div>
                                <div>
                                    <button type="button" class="form-buttonGr" ng-click="updateDocStatus('tascDocTAC', 'tascDocStatus')" id="tascDocTAC" ng-class="{'accepted-button': reco.tascDocStatus === 'Accept'}">Accept</button>
                                    <button type="button" class="form-buttonRe" ng-click="updateDocStatus('tascDocTRE', 'tascDocStatus')" id="tascDocTRE" ng-class="{'accepted-button': reco.tascDocStatus === 'Reject'}">Reject</button>
                                </div>
                            </div>

                            <div class="col-2 vertical_line wrap-doc-content p-2">
                                <div>
                                    <img class="rcornersimgE" id="imgPan" src="image/pdfimg.png" alt="Image"  ng-click="viewPdfOther()"/>
                                </div>
                                <div>
                                    <label class="form-label form-label-docs mb-3">Other Docs</label>
                                </div>
                                <div>
                                    <button type="button" class="form-buttonGr" ng-click="updateDocStatus('otherDocTAC', 'otherDocStatus')" id="otherDocTAC" ng-class="{'accepted-button': reco.otherDocStatus === 'Accept'}">Accept</button>
                                    <button type="button" class="form-buttonRe" ng-click="updateDocStatus('otherDocTRE', 'otherDocStatus')" id="otherDocTRE" ng-class="{'accepted-button': reco.otherDocStatus === 'Reject'}">Reject</button>
                                </div>
                            </div>

                            <div class="col-2 wrap-doc-content p-2">
                                <div>
                                    <img class="rcornersimgE" id="imgPan" src="image/application_form.png" alt="Image"  ng-click="viewPdfClientForm()"/>
                                </div>
                                <div>
                                    <label class="form-label mb-3">Client Form </label>
                                </div>
                                <div>
                                    <button type="button" class="form-buttonGr" ng-click="updateDocStatus('clientFormTAC', 'clientFormStatus')" id="clientFormTAC" ng-class="{'accepted-button': reco.clientFormStatus === 'Accept'}">Accept</button>
                                    <button type="button" class="form-buttonRe" ng-click="updateDocStatus('clientFormTRE', 'clientFormStatus')" id="clientFormTRE" ng-class="{'accepted-button': reco.clientFormStatus === 'Reject'}">Reject</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-4">
                        <label for="formProgress" class="form-label">Remark :</label>
                        <textarea rows="3" cols="50" id="remark" name="remark" class="form-inputNew" ng-model="remark"></textarea>
                        <input type="text" id="approvedBy" name="approvedBy" class="form-input" ng-model="approvedBy" hidden="">
                        <input type="text" id="uploadedBy" name="uploadedBy" class="form-input" ng-model="uploadedBy" hidden="">
                    </div>
                    <input type="submit" class="form-button padbutton" ng-click="formdata('Approved')" value="Approve" name="Approve" ng-show="notVisible_OnAccept">
                    <input type="submit" class="form-button padbutton" ng-click="formdata('Pending at BOM')" value="Pending at BOM" ng-show="notVisible_OnAcceptP" name="Pending at BOM">
                    <button type="button" class="form-button padbutton" ng-click="cancelCOPsForm()"> Cancel </button>
                </form> 
            </div>
        </div>
    </div>
</div>